# Git Ignore file

# Ignore .*/ They can only lead to trouble
.*/
.settings/*
.metadata/*

# Backup files
*.edbkup
*.bak
*.session

# Ignore JEdit working temp backup files which start and end with a " # " mark
*#

# Eclipse files
.project
.pydevproject

# Compiled Python objects
*.pyc
*.pyo
/desktop.ini